<div class="nieuwbouwwrapper">
  <h2 class="navHeader">NIEUWBOUW LOCATIE & INFORMATIE</h2>
  <div class="descriptiontext">
    <div class="descrtxtcol">
      <div>
        <p>
          Op het hoogwaardige bedrijventerrein “Gouwe Park” gelegen, tussen de
          gemeentes Gouda, Zuidplas en Waddinxveen, heeft MW Cars een
          bedrijfsverzamelgebouw ontwikkeld.
          Begin 2021 zullen wij ons daar gaan vestigen.
          Ons 800m2 grote nieuwbouw pand ligt centraal, is daarmee goed
          bereikbaar en geeft ons letterlijk en figuurlijk de ruimte om door te
          groeien.
        </p>
      </div>
      <div>
        <p>
           Naast een grote showroom op de begane grond waar onze
          occasions staan, is er op de 2de verdieping, welke bereikbaar is met
          een autolift, de mogelijkheid om uw cabriolet, oldtimer, motor en/of
          boot (met trailer) verwarmd te stallen.
        </p>
      </div>
    </div>
  </div>
  <div class="imgholdernieuwbouw">
    <div class="imgrow" *ngFor="let image of xitest">
      <img [src]="image" alt="" />
    </div>
  </div>
  <div class="descriptiontext">
  <p class="contacttext">
    Voor meer informatie hierover kunt u mailen naar
    <a href="mailto:menno@mwcars.nl">menno@mwcars.nl</a> of bel naar
    06-21897899.<br />
  <a class="fundalinks"
                  href="https://www.fundainbusiness.nl/bedrijfshal/moordrecht/object-41771274-oostbaan-674-en-675/"
                  target="_blank" rel="noopener noreferrer">Funda oostbaan-674-en-675</a>&nbsp;&nbsp;
                  <a class="fundalinks"
                  href="https://www.fundainbusiness.nl/bedrijfshal/moordrecht/object-41771275-oostbaan-674/"
                  target="_blank" rel="noopener noreferrer">Funda oostbaan-674</a>
                </p>
</div>
</div>
