.nieuwbouwwrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.navHeader {
  opacity: 0;
  padding-bottom: 10px;
  font-family: 'darkergrotesque';
    font-size: 2rem;
    font-weight: 600;
}

.navHeader h2 {
  padding: 15px 0;
}

.descriptiontext {
  padding: 20px 0 0 0;
  width: 80%;
  height: auto;
  font-family: 'darkergrotesque';
  font-size: 1.2rem;
  line-height: 21px;
  font-weight: 500;
  opacity: 0;
}

.imgholdernieuwbouw {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.descrtxtcol{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.descrtxtcol div{
  width: 48%;
}

.descrtxtcol div p{
  text-align: justify;
}

.imgrow {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  height: auto;
  opacity: 0;
}

.imgrow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
}

a {
  color: white;
  text-decoration: underline;
}

.contacttext{
  width: 100%;
  text-align: center;
  font-family: 'darkergrotesque';
  font-size: 1.2rem;
  font-weight: 500;
}
