<div class="nieuwbouwwrapper">
<h2 class="navHeader">NIEUWBOUW locatie & informatie</h2>
<div class="descriptiontext">
<div>
    <p>
        Op het hoogwaardige bedrijventerrein “Gouwe Park” gelegen, tussen de gemeentes Gouda, Zuidplas en Waddinxveen, heeft MW Cars een bedrijfsverzamelgebouw ontwikkeld.<br /> 
        Begin 2021 zullen wij ons daar gaan vestigen.<br /><br />
        Ons 800m2 grote nieuwbouw pand ligt centraal, is daarmee goed bereikbaar en geeft ons letterlijk en figuurlijk de ruimte om door te groeien. Naast een grote showroom op de begane grond waar onze occasions staan, is er op de 2de verdieping, welke bereikbaar is met een autolift, de mogelijkheid om uw cabriolet, oldtimer, motor en/of boot (met trailer) verwarmd te stallen.<br /><br /> 
        

    </p>
</div>
</div>
<div class="imgholdernieuwbouw">
    <div class="imgrow" *ngFor="let image of xitest">
        <img [src]="image" />
    </div>
</div>
<p class="descriptiontext">
    Voor meer informatie hierover kunt u mailen naar <a href="mailto:menno@mwcars.nl">menno@mwcars.nl</a> of bel naar 06-21897899.
</p>

</div>