.voorraad-iframewrapper iframe{
    position: absolute;
    left: 0;
    top: 60px;
     height: 90%;
     width: 100%;
}

.linksanitizer{
    font-family: "scada";
    text-decoration: none;
    color: whitesmoke;
}