<div id="homearea" class="o-page--wrapper">
  <div class="body-img__imgwrap" id="home">
    <img class="body-img" src="../assets/HomePage_img.png" alt="" />

    <div class="svg__positioner">
      <img src="../assets/Star 11.svg" alt="" />
    </div>

    <div class="body-img_innerpos">
      <div class="line">
        <div class="h-routlet__wrap">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="bvaglogo"><img src="../assets/Bvag_logo.png" alt="" /></div>

      <div class="body__headerwrap">
        <app-headernavigation (changeValue)="slideContOpen()"></app-headernavigation>
      </div>
      

      <div class="h-img__logowrap">
        <a href="./"><img src="../assets/LogoMwCars_flat.svg" alt="" /></a>
      </div>
    </div>
  </div>
  <hr style="margin-top: 32px; width: 60%;" /><br />

  <h2 id="nieuwbouwarea">NIEUWBOUW</h2>
  <section class="section-part-nieuwbouw">
    <div class="imgsliderwrap">
      <div class="nieuwbouwinfowrapper">
        <div class="nieuwbouwinformationwindow"></div>
      </div>
      <div class="infonieuwbouw"><img (click)="nieuwbouwInfo()" class="infoimg" src="../assets/infobtn.svg" alt=""></div>

      <div class="imgsliderSlide ">
        <img src="../assets/nieuwbouwimg/2020-02-13_1 - Photo.jpg" class="myembed " alt="" />
      </div>
      <div class="imgsliderSlide ">
        <img src="../assets/nieuwbouwimg/2020-02-13_2 - Photo.jpg" class="myembed " alt="" />
      </div>
      <div class="imgsliderSlide ">
        <img src="../assets/nieuwbouwimg/2020-02-13_3 - Photo.jpg" class="myembed " alt="" />
      </div>
      <div class="imgsliderSlide ">
        <img src="../assets/nieuwbouwimg/2020-02-13_4 - Photo.jpg" class="myembed " alt="" />
      </div>
      <div class="imgsliderSlide ">
        <img src="../assets/nieuwbouwimg/2020-02-13_5 - Photo.jpg" class="myembed " alt="" />
      </div>
      <div class="imgsliderSlide ">
        <img src="../assets/nieuwbouwimg/2020-02-13_6 - Photo.jpg" class="myembed " alt="" />
      </div>
      <div class="imgsliderSlide ">
        <img src="../assets/nieuwbouwimg/2020-02-13_7 - Photo.jpg" class="myembed " alt="" />
      </div>
      <div class="imgsliderSlide ">
        <img src="../assets/nieuwbouwimg/2020-02-13_8 - Photo.jpg" class="myembed " alt="" />
      </div>
      
    <a class="prev" (click)="slideImages(-1)"><img src="../assets/prevbtnimgslider.svg" alt=""></a>
    <a class="next" (click)="slideImages(1)"><img src="../assets/nextbtnimgslider.svg" alt=""></a>
    </div>
  </section>
  <hr style="margin-top: 32px; width: 60%;" /><br />

  <h2 id="leasearea">FINANCIAL LEASE</h2>
  <section class="section-part-lease">
    <div class="leasewrapper">
      
      
    </div>


  </section>
  <hr style="margin-top: 32px; width: 60%;" /><br />

  <h2 id="importarea">IMPORT</h2>
  <section class="section-part-import">
    <div class="importpart">
      <div>
       <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
       <iframe src="//lightwidget.com/widgets/c3e2b39de8b45ee6a56cafd2f991fc26.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" title="importstream"></iframe>
      </div>

    </div>
  </section>
  <hr style="margin-top: 32px; width: 60%;" /><br />

  
  <footer id="footerarea">
    <app-footerarea (changeValue)="slideContOpen()"></app-footerarea>
   </footer>

   <!-- <div *ngIf = "home$ | async as allHome">
    <div>
    {{allHome.home.title}}
    </div>
  </div> -->
</div>
