<div id="homearea" class="o-page--wrapper">
  <div class="body-img__imgwrap" id="home">
    <img class="body-img" src="../assets/HomePage_img.png" alt="" />

    <div class="svg__positioner">
      <img src="../assets/Star 11.svg" alt="" />
    </div>

    <div class="body-img_innerpos">
      <div class="line">
        <div class="h-routlet__wrap">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="bvaglogo"><img src="../assets/Bvag_logo.png" alt="" /></div>

      <div class="body__headerwrap">
        <app-headernavigation (changeValue)="slideContOpen()"></app-headernavigation>
      </div>

      <div class="h-img__logowrap">
        <a href="./"><img src="../assets/LogoMwCars_flat.svg" alt="" /></a>
      </div>
    </div>
  </div>
  <hr style="margin-top: 32px; width: 60%;" />
  <br />

  <h2 id="nieuwbouwarea">NIEUWBOUW</h2>
  <section class="section-part-nieuwbouw">
    <div class="imgsliderwrap">
      <div class="nieuwbouwinfowrapper">
        <div class="nieuwbouwinformationwindow">
          <div class="nwbouwinfotext">
            <h2>Bedrijfsunits te huur</h2>
            <br />
            <div class="infonwbouwtextwrapper">
              <div>
                Beschikbaar voor verhuur zijn 2 bedrijfsunits van 188 m2 begane
                grond en 60 m2 op de 1ste verdieping met 3 parkeerplaatsen per
                unit. Doordat het gebouw op de 1ste verdieping 2 meter uitsteekt
                is er een hoogte van 7.5 meter voor 144 m2 op de begane grond
                gerealiseerd. Eventueel zijn de units ook gekoppeld te huur. In
                dat geval is de oppervlakte ca. 375 m² bedrijfsruimte op de
                begane grond en ca. 120 m² kantoorruimte op de 1e verdieping.<br /><br />
                <a class="fundalinks"
                  href="https://www.fundainbusiness.nl/bedrijfshal/moordrecht/object-41771275-oostbaan-674/"
                  target="_blank" rel="noopener noreferrer">Funda oostbaan-674</a>
              </div>
              <div>
                De units worden voorzien van een warmtepomp en vloerverwarming.
                Door de uitstekende isolatiewaarde van de gebruikte materialen
                zal naar alle waarschijnlijkheid een energie A+++ label worden
                verkregen. Op het dak zullen maximaal 450 zonnepanelen worden
                geplaatst, een deel hiervan kan in de huur worden meegenomen.
                Bij gebruik van 60 panelen kan een besparing van ca. € 8.000,00
                (bij saldering van het elektra gebruik) op jaarbasis worden
                gerealiseerd. Klik hier voor meer informatie op Funda:<br /><br />
                <a class="fundalinks"
                  href="https://www.fundainbusiness.nl/bedrijfshal/moordrecht/object-41771274-oostbaan-674-en-675/"
                  target="_blank" rel="noopener noreferrer">Funda oostbaan-674-en-675</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="infonieuwbouw">
        <img (click)="nieuwbouwInfo()" class="infoimg" src="../assets/infobtn.svg" alt="" />
      </div>

      <div class="imgsliderSlide">
        <img src="../assets/nieuwbouwimg/2020-02-13_1 - Photo.jpg" class="myembed" alt="" />
      </div>
      <div class="imgsliderSlide">
        <img src="../assets/nieuwbouwimg/2020-02-13_2 - Photo.jpg" class="myembed" alt="" />
      </div>
      <div class="imgsliderSlide">
        <img src="../assets/nieuwbouwimg/2020-02-13_3 - Photo.jpg" class="myembed" alt="" />
      </div>
      <div class="imgsliderSlide">
        <img src="../assets/nieuwbouwimg/2020-02-13_4 - Photo.jpg" class="myembed" alt="" />
      </div>
      <div class="imgsliderSlide">
        <img src="../assets/nieuwbouwimg/2020-02-13_5 - Photo.jpg" class="myembed" alt="" />
      </div>
      <div class="imgsliderSlide">
        <img src="../assets/nieuwbouwimg/2020-02-13_6 - Photo.jpg" class="myembed" alt="" />
      </div>
      <div class="imgsliderSlide">
        <img src="../assets/nieuwbouwimg/2020-02-13_7 - Photo.jpg" class="myembed" alt="" />
      </div>
      <div class="imgsliderSlide">
        <img src="../assets/nieuwbouwimg/2020-02-13_8 - Photo.jpg" class="myembed" alt="" />
      </div>

      <a class="prev" (click)="slideImages(-1)"><img src="../assets/prevbtnimgslider.svg" alt="" /></a>
      <a class="next" (click)="slideImages(1)"><img src="../assets/nextbtnimgslider.svg" alt="" /></a>
    </div>
  </section>
  <hr style="margin-top: 32px; width: 60%;" />
  <br />

  <h2 id="leasearea">FINANCIAL LEASE</h2>
  <section class="section-part-lease">
    <div class="leasewrapper">
      <iframe
        src="https://iframe.financiallease.nl/lease?stock_id=211&background_color=f5f5f5&primary_color=205485&secondary_color=205485&text_color=000000"
        title="">
      </iframe>
      <iframe
        src="https://iframe.financiallease.nl/dealer/calculator?calculator_id=272&background_color=f5f5f5&primary_color=205485&secondary_color=205485&text_color=000000"
        title="">
      </iframe>
    </div>
  </section>
  <hr style="margin-top: 32px; width: 60%;" />
  <br />

  <h2 id="importarea">IMPORT -instagram-</h2>
  <section class="section-part-import">
    <div class="importpart">
      <div>
        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/c3e2b39de8b45ee6a56cafd2f991fc26.html" scrolling="no"
          class="lightwidget-widget" title="importstream"></iframe>
      </div>
    </div>
  </section>
  <hr style="margin-top: 32px; width: 60%;" />
  <br />

  <footer id="footerarea">
    <app-footerarea (changeValue)="slideContOpen()"></app-footerarea>
  </footer>
</div>