<div class="footerwrap">
    <div class="bgimage">
        <div class="footerarea">
            <div class="contactsections">
                <div class="footermenu">
                    <ul class="footer_menu_items">
                        <li><h3>MENU</h3></li>
                        <li><a [routerLink]="['/home']" (click)="slideOpenContArea()" (click)="onClick('home')">HOME</a></li>
                        <li><a [routerLink]="['/voorraad']" (click)="slideOpenContArea()" (click)="onClick('home')">VOORRAAD</a></li>
                        <li (click)="onClick('importarea')">IMPORT AFDELING</li>
                        <li><a [routerLink]="['/import']" (click)="slideOpenContArea()" (click)="onClick('home')">IMPORT INFORMATIE</a></li>
                        <li (click)="onClick('leasearea')">FINANCIAL LEASE AFDELING</li>
                        <li (click)="onClick('nieuwbouwarea')">NIEUWBOUW AFDELING</li>
                        <li><a [routerLink]="['/nieuwbouw']" (click)="slideOpenContArea()" (click)="onClick('home')">NIEUWBOUW INFORMATIE</a></li>
                    </ul>
                </div>
            </div>
            <div class="contactsections">
                <div class="footermenu">
                    <ul>
                        <li><h3>GERELATEERDE LINKS</h3></li>
                        <!-- <li><a [routerLink]="['/voorraad']" (click)="slideOpenContArea()" (click)="onClick('home')">OVERZICH AUTO'S</a></li> -->
                        <li><a href="https://www.bovag.nl/" target="_blank" rel="noopener noreferrer">BOVAG</a></li>
                        <li><a href="https://www.fundainbusiness.nl/bedrijfshal/moordrecht/object-41771274-oostbaan-674-en-675/" target="_blank" rel="noopener noreferrer">MWCARS FUNDA</a></li>
                        <li><a href="https://iframe.financiallease.nl/lease?stock_id=211&background_color=f5f5f5&primary_color=205485&secondary_color=205485&text_color=000000" target="_blank" rel="noopener noreferrer">FINANCIAL LEASE</a></li>
                        <li><a href="https://www.dtc-lease.nl/dealers/862/gouda/mw-cars-bv" target="_blank" rel="noopener noreferrer">PRIVATE LEASE</a></li>
                        <li><a href="https://iframe.financiallease.nl/dealer/calculator?calculator_id=272&background_color=f5f5f5&primary_color=205485&secondary_color=205485&text_color=000000" target="_blank" rel="noopener noreferrer">LEASE CALCULATOR</a></li>
                    </ul>
                </div>
            </div>
            <div class="contactsections">
                <div class="footermenu">
                    <ul>
                        <li><h3>CONTACT</h3></li>
                        <li><a href="mailto:menno@mwcars.nl">EMAIL: menno@mwcars.nl</a></li>
                        <li>TEL: 06-21897899</li>
                        <li>INSTAGRAM: mw_cars_import</li>
                        <li>ADRES: Kampenringweg 15 - 2803 PE - Gouda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

