<div class="footerwrap">
    <div class="bgimage">
        <div class="footerarea">
            <div class="contactsections">
                <div class="footermenu">
                    <ul>
                        <li><h3>MENU</h3></li>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">IMPORT</a></li>
                        <li><a href="#">OVER ONS</a></li>
                        <li><a href="#">NIEUWBOUW</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">VOORRAAD</a></li>
                    </ul>
                </div>
            </div>
            <div class="contactsections">
                <div class="footermenu">
                    <ul>
                        <li><h3>LINKS</h3></li>
                        <li><a href="http://mwcars.nl/">ALL CARS</a></li>
                        <li><a href="#">RELATED</a></li>
                        <li><a href="#">OTHER SITE</a></li>
                    </ul>
                </div>
            </div>
            <div class="contactsections">
                <div class="footermenu">
                    <ul>
                        <li><h3>CONTACT</h3></li>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">IMPORT</a></li>
                        <li><a href="#">OVER ONS</a></li>
                        <li><a href="#">NIEUWBOUW</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">VOORRAAD</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

