.footerwrap{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
}

.bgimage{
    background-image: url(./../../assets/footerImgBg.png);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.footerarea{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer_menu_items li{
    cursor: pointer;
}

.contactsections{
    background-color: rgba(0, 0, 0, .75);
    width: calc(100% / 3.1);
    height: 85%;
    /* background-color: antiquewhite; */
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.footermenu{
    padding-top: 40px;
    
}

.footermenu ul{
    list-style-type: none;
    color: whitesmoke;
}

.footermenu ul li{
    font-family: 'darkergrotesque';
    font-size: 1.1rem;
    opacity: 1;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
}

.footermenu ul li a{
    text-decoration: none;
}

.footermenu ul li h3{
    font-size: 1.8rem;
    font-family: 'darkergrotesque';
    font-weight: 400;
    padding-bottom: 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}

a:link, a:visited {
    color: whitesmoke;
}