.header{
    width: 100%;
    font-family: 'darkergrotesque';
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}

.router-link-active{
    padding: 3px 10px 0px 10px;
    background-color: rgba(0, 0, 0, .6);
    pointer-events: none; 
    cursor: default;
}

.header a{
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 0.15rem;
}
.h-ul--navlist{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-ul--navlist li{
    margin-left: 15px;
}

.header ul{
    list-style-type: none;
}

@media screen and (max-width: 1023px) {
    .header{
        width: 100%;
        display: flex;
        /* background-color: aqua; */
    }

    .h-ul--navlist{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .h-ul--navlist li{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background-color: aqua;
        margin: 5px;
    }
  
  }