<header class="header">
    <nav class="nav">
      <ul class="h-ul--navlist">
        <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="slideOpenContArea()" >HOME</a></li>
        <li><a [routerLink]="['/voorraad']" routerLinkActive="router-link-active" (click)="slideOpenContArea()">VOORRAAD</a></li>
        <li><a [routerLink]="['/import']" routerLinkActive="router-link-active" (click)="slideOpenContArea()">IMPORT</a></li>
        <li><a [routerLink]="['/nieuwbouw']" routerLinkActive="router-link-active" (click)="slideOpenContArea()">NIEUWBOUW</a></li>
        <li><a [routerLink]="['/over-ons']" routerLinkActive="router-link-active" (click)="slideOpenContArea()">OVER ONS</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" (click)="slideOpenContArea()">CONTACT</a></li>
      </ul>
    </nav>
  </header>