<header class="header">
      <ul class="h-ul--navlist">
        <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="slideOpenContArea()">HOME</a></li>
        <li><a [routerLink]="['/voorraad']" routerLinkActive="router-link-active" (click)="slideOpenContArea()">VOORRAAD</a></li>
        <li><a [routerLink]="['/import']" routerLinkActive="router-link-active" (click)="slideOpenContArea()">IMPORT</a></li>
        <li><a [routerLink]="['/home']" (click)="onClick('leasearea')" (click)="slideOpenContArea()">LEASE</a></li>
        <li><a [routerLink]="['/nieuwbouw']" routerLinkActive="router-link-active" (click)="slideOpenContArea()">NIEUWBOUW</a></li>
        <li><a [routerLink]="['/home']" (click)="onClick('footerarea')" (click)="slideOpenContArea()">CONTACT</a></li>
      </ul>
  </header>