.header{
    width: 100%;
    font-family: 'darkergrotesque';
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}

.router-link-active{
    padding: 3px 10px 0px 10px;
    background-color: rgba(0, 0, 0, .6);
    pointer-events: none; 
    cursor: default;
}

.header a{
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 0.2rem;
}
.h-ul--navlist{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-ul--navlist li{
    margin-left: 15px;
}

.header ul{
    list-style-type: none;
}

@media (max-width: 1200px){

}