.importwrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.navHeader {
  opacity: 0;
  font-family: 'darkergrotesque';
    font-size: 2rem;
    font-weight: 600;
}

.navHeader h2{
    padding: 15px 0;
}

.descriptiontext {
  padding: 20px 15px 0 0;
  width: 80%;
  height: 580px;
  font-family: 'darkergrotesque';
  font-size: 1.2rem;
  line-height: 21px;
  font-weight: 500;
  opacity: 0;
  overflow-y: auto;
  text-align: center;
}

.descrtxtcol{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.descrtxtcol div{
    width: 47%;
}

.descrtxtcol div p{
    text-align: justify;
}

.kernwtext{
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.importcolumns{
    display: flex;
    justify-content: space-around;
}

.importcolumns div{
padding: 10px 10px 0 10px;
font-size: 1.2rem;
}

.footerimporttxt{
    padding-top: 20px;
    text-align: center;
}

a{
    color: white;
    text-decoration: underline;
}
