<div class="importwrapper">
  <h2 class="navHeader">MW CARS IMPORT INFORMATIE</h2>
  <div class="descriptiontext">
    <div class="descrtxtcol">
      <div>
        <p>
          Eén van de services van MW Cars is het importen van auto’s naar
          Nederland. Het importen kan vele voordelen bieden voor de koper. Denk
          aan financieel voordeel, meer keuze in auto’s en de uitgebreidere
          uitvoering van auto’s in het buitenland. Het netto-voordeel op een
          importauto kan oplopen tot wel 10% van de waarde van de auto in
          Nederland.
        </p>
      </div>
      <div>
        <p>
          De start van de import kan een gegeven zoekopdracht zijn of een auto
          die u zelf heeft gevonden in het buitenland. De meest voorkomende
          landen om vanuit te importeren zijn Duitsland, Spanje en Denemarken.
          Wij hebben reeds gerenommeerde merken als Audi, BMW, Ford, Lexus,
          Mazda, Mercedes, Nissan, Porsche, Range Rover, Toyota, Volkswagen en
          Volvo geïmporteerd.<br /><br />
        </p>
      </div>
    </div>
    <div class="importcolumns">
      <div style="border-right: 1px solid white;">
        <p>
          Vooraf wordt gedegen onderzoek gedaan naar de echtheid van de auto
          en controleren het volgende:<br /><br />
          Onderhoudshistorie<br />
          Schade verleden<br />
          Km. stand<br />
          Huidige beschadigingen<br />
          Mankementen<br />
          Service behoefte<br />
          Marktonderzoek<br />
        </p>
      </div>
      <div style="border-right: 1px solid white;">
        <p>
          Het complete aanbod in het buitenland, maar ook in Nederland, word
          door ons bekeken voordat wij onze offerte uitbrengen. Wij zoeken voor
          u de beste deal. Waarom import door MW Cars?<br /><br />

          Transparant, inkoopfactuur en BPM aangifte worden overlegd<br />
          Vaste fee (incl. handling, transport, onderhandeling, <br />RDW-invoer,
          BPM aangifte en aflevering)<br />
          Meest gunstige BPM aangifte<br />
          Bedongen korting bij aanschaf is voor u<br />
          No cure - No Pay<br />
          Persoonlijke begeleiding en communicatie<br />
          Controle op km stand, onderhoudshistorie en schades<br /><br />
        </p>
      </div>
      <div>
        <p>
          Extra servicemogelijkheden bij het importeren:<br /><br />
          Inruil auto<br />
          Consignatieverkoop<br />
          Import nieuwe auto’s<br />
          Garantie<br />
          Gezamenlijk ophalen auto<br /><br />
        </p>
      </div>
    </div>
    <div class="footerimporttxt">
      Wilt u meer weten over de mogelijkheden van het importeren van uw
      droomauto? Neem dan gerust
      <a href="mailto:menno@mwcars.nl">contact</a> met ons op!
    </div>
  </div>
</div>
