<div class="homewrapper">
  <h2 class="navHeader">WELKOM BIJ MW CARS</h2>
  <div class="descriptiontext">
    <div class="descrtxtcol">
      <div>
        <p>
          MW Cars heeft in zijn bestaan van bijna 20 jaar een bewezen staat van
          dienst opgebouwd. De man achter MW Cars is Menno Wiersma met meer dan
          30 jaar automotive ervaring. MW Cars verkoopt niet alleen occasions,
          we doen zoveel meer dan dat. Door een groot netwerk van garage- en
          schadeherstelbedrijven en financierings- en leasemaatschappijen kunnen
          we de juiste auto en de hoogst mogelijk service bieden. We richten ons
          op een aanbod op maat, zijn merkonafhankelijk en BOVAG gecertificeerd.
          Een persoonlijke dienstverlening en open en eerlijk zijn naar onze
          klant is waar we voor staan!<br /><br />
        </p>
      </div>
      <div>
        <div class="waardentxt">
          <!-- <hr style="width: 40%;" />  -->
            <h3>Kernwaarden van MW Cars</h3><br />           
            Korte communicatie<br />
            No-nonsense mentaliteit<br />
            Betrouwbare service<br />
            Afspraak = afspraak<br />
            Ook buiten kantooruren mogelijkheden tot afspraken.
            <hr style="width: 60%;" />

            <h3>Extra service van MW Cars</h3><br />
            Zoekopdrachten<br />
            Import<br />
            Inkoop auto’s<br />
            Consignatie verkoop<br />
            Onderhoud<br />
            Financiering<br />
            Garantie<br />
            Schadereparatie<br />
            Re-conditionering
            <!-- <hr style="width: 60%;" /> -->
        </div>
      </div>
    </div>
  </div>
  <img class="imghomebg" src="../../assets/speedmeter.png" alt="" />
</div>
