.homewrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.navHeader{
    font-family: 'darkergrotesque';
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
}

.navHeader h2{
    padding: 30px 0;
}

.descriptiontext{
    padding: 20px 15px 0 0;
    width: 80%;
    height: auto;
    font-family: 'darkergrotesque';
    font-size: 1.2rem;
    line-height: 21px;
    font-weight: 500;
    opacity: 0;
    z-index: 3;
}

.kernwtext{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.descrtxtcol{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.descrtxtcol div{
    width: 100%;
    margin-right: 20px;
}

.descrtxtcol div p{
    text-align: justify;
}

.waardentxt{
    text-align: center;
    font-size: 1.2rem;
}

.waardentxt h3{
    font-size: 2rem;
    font-weight: 600;
}

.imghomebg{
    position: absolute;
    left: -100px;
    top: 290px;
    opacity: .8;
}